# Static files for README
_static/

# Documentation
docs/
jsdoc.json

# Tests related
test/
coverage/

# Configs
.babelrc
rollup.config.js
bower.json
.eslint*
.huskyrc.json

# npm files
*.tgz

# Travis files
.travis*

# IDE files
.editorconfig
.vscode/
.idea/
